@model StaticArray<Car>

<div class="text-center">
    <h3 class="display-3">
        Static Array
    </h3>
</div>

<div class="text-center text-muted">
    (@Model?.Length) kayıt listeleniyor.
</div>

<div class="row">

    @foreach (Car car in Model)
    {
        <div class="col-md-3 hover">
            <div class="m-2 p-5">
                <p>@car?.Model</p>
                <p><i>@car?.Year</i></p>
            </div>

        </div>
    }
</div>

<div class="text-center text-muted">
    (@Model?.Length) kayıt listeleniyor.
</div>

<style>
    .hover:hover {
        background-color: #f3f6cc;
        cursor: pointer
    }
</style>